.tiles-browser {
    min-width: 322px;
    min-height: 264px;
}

/* Copied from input type text */
.tiles-browser input[type="Number"] {
    height: 26px;
    min-width: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 1px 3px;
    margin: 0;
    border: 1px solid #AAA;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    line-height: inherit;
    color: #111;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    -moz-appearance: textfield;
}

.tiles-browser input {
    flex: 0 auto;
}

.tiles-browser .refresh {
    flex: 0 32px;
    height: 32px;
}

.tiles-browser ul {
    padding: 0;
    list-style-type: none;
}

.tiles-browser .window-content {
    display: flex;
    flex-flow: column nowrap;
    padding-right: 2px;
    min-width: 322px;
}

.tiles-browser .outer {
    max-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding-right: 3px;
}

.tiles-browser .outer > * {
    flex: 0 auto;       
}

.tiles-browser .form-group {
    flex: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
}

.tiles-browser label {
    flex: 0 auto;
    margin: 0 5px 0 0;
    white-space: nowrap;
}

.tiles-browser .back {
    flex: 0 32px;
    height: 32px;
}

.tiles-browser .tile-directory {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow:row wrap;
    align-content: flex-start;
    align-items: stretch;
}

.tiles-browser li.tile{
    width: 150px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    cursor: grab;
    border: 1px outset #6666663d;
    background: rgba(0,0,0,0.05);
    overflow: hidden;
}

.tiles-browser i.fa-image {
    width: 150px;
}

.tiles-browser li.tile[hidden]{
    display: none !important;
}

.tiles-browser li.tile.selected{
    opacity: 0.8;
    box-shadow: inset 0px 0px 5px #666666;
    border: 1px inset #6666663d
}

.tiles-browser img.tile-thumb {
    width: 150px;
    flex: 0 150px;
    object-fit: contain;
    align-self: center;
    border: none;
}

.tiles-browser li.tile span {
    margin: 0 5px;
    line-height: 16px;
    height: auto;
}

.tiles-browser .directory {
    flex: 1;
    overflow: scroll;
    padding-right: 3px;
    margin-top: 5px;
}

.tiles-browser .file-directory {
    display: block;
    margin: 5px 0 0 0;
}
.tiles-browser .file-directory .dir {
    flex: 0 auto;
    border: 1px outset #6666663d;
    background: rgba(0,0,0,0.05);
    padding: 3px;
    margin: 0;
}

.tiles-browser .dir:hover {
    text-shadow: 0 0 3px red;
}



.tiles-browser .show {
    display: block;
}

.tiles-browser .settings-dropdown .dark-bg {
    background-color: #ddd;
}

.tiles-browser .errors {
    color: red;
    background: rgba(0,0,0,0.1);
}

.tiles-browser .errors .path {
    /*background: rgba(0,0,0,0.2)*/
    font-weight: bold;
}

/* Progress bar */
.tiles-browser #prog-bar {
    width: calc(100% - 48px);
    margin: 3px 24px;
    background-color: grey;
}

.tiles-browser #progress {
    width: 1%;
    background-color: #fa1001;
    height: 10px;
}

.tiles-browser input[type="Number"].scale {
    flex: 0 10ch;
    min-width: 5ch;
    margin-right: 5px;
}

.tiles-browser input[type=number]::-webkit-inner-spin-button, 
.tiles-browser input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.tiles-browser .filter {
    margin-right: 5px;
}
