<form class='outer'>
	{{!-- File Picker Sources --}}
<nav class="tabs">
	{{#each sources as |source id|}}
	<a class="item" data-tab="{{id}}"><i class="{{source.icon}}"></i> {{source.label}}</a>
	{{/each}}
</nav>
<div class="form-group current-dir">
	<button class="back" {{#unless canGoBack}}disabled{{/unless}}>
			<i class="fas fa-level-up-alt fa-flip-horizontal fa-fw"></i>
	</button>
	<input type="text" name="baseDir" value="{{target}}"/>
	<button class='refresh' title="Recreate the thumbnails for the currently shown images."><i class="fas fa-redo-alt"></i></button>
</div>

<div class="form-group filter-dir" style="display: hidden">
	<label for="filter">Filter Results</label>
	<input type="text" name="filter" placeholder="Search"/>
</div>

<div class='directory'>
	<ul class='file-directory'>
			{{#each dirs}}
			<li class="dir" data-path="{{this.path}}">
					<i class="fas fa-folder fa-fw"></i>{{this.name}}
			</li>
			{{/each}}
	</ul>
</div>

<div class='layer-selection'>
	<h4>Which layers to render?</h4>
	{{#each layers as |value label|}}
	<div class='form-group'>
		<input type='checkbox' id='{{label}}' {{checked value}}/>
		<label for='{{label}}'>{{label}}</label>
	</div>
	{{/each}}
</div>

<footer class="form-footer">
	<div class="form-group">
		<label><i class="fas fa-file fa-fw"></i>Filename</label>
		<input type="text" id='file-name' name="file" value="{{name}}"/>
	</div>

	<div class='form-group'>
		<input type='checkbox' id='update'/>
		<label for='update'>Delete layers content and set image as background for current scene?</label>
	</div>

	<button type="submit" name="submit">
		<i class="fas fa-upload fa-fw"></i> Upload
	</button>
</footer>
</form>