<form autocomplete="off" enctype="multipart/form-data">
    {{!-- File Picker Sources --}}
    <nav class="tabs">
        {{#each sources as |source id|}}
        <a class="item" data-tab="{{id}}"><i class="{{source.icon}}"></i> {{source.label}}</a>
        {{/each}}
    </nav>

    <section class="filepicker-body">
        <div class="form-group current-dir">
            <button class="back" {{#unless canGoBack}}disabled{{/unless}}>
                <i class="fas fa-level-up-alt fa-flip-horizontal fa-fw"></i>
            </button>
            <input type="text" name="baseDir" value="{{target}}"/>
            <button class='refresh' title="Recreate the thumbnails for the currently shown images."><i class="fas fa-redo-alt"></i></button>
        </div>

        {{#if isS3}}
        <div class="form-group bucket">
            <label>S3 Bucket</label>
            <select name="bucket">
                {{#select source.bucket}}
                {{#each source.buckets}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        {{/if}}

        <div class="form-group filter-dir">
            <label for="filter">Filter: </label>
            <input type="text" class="filter" name="filter" placeholder="Search"/>
            <label for="scale">Scale: </label>
            <input type="number" class="scale" name="scale" value="1" min="0" step="0.25"/>
            <label for="wildcard" title="Use one of the shown images at random when dragging.">Random Image</label>
            <input id="wildcard" name="wildcard" type="checkbox" {{checked wildcard}}/>
        </div>

        <div class='progress-div'>
            <div class='errors' hidden>
            </div>
        </div>

        <div class='directory'>
            <ul class='file-directory'>
                {{#each dirs}}
                <li class="dir" data-path="{{this.path}}">
                    <i class="fas fa-folder fa-fw"></i>{{this.name}}
                </li>
                {{/each}}
            </ul>

        {{#unless noResults}}
            <ul class="tile-directory">
                {{#each files}}
                <li class="tile" data-path="{{this.url}}" title="{{this.name}}">
                    <img class="tile-thumb" src="{{@root.thumbsDir}}/{{this.hash}}.webp{{#if @root.refreshStamp}}?{{@root.refreshStamp}}{{/if}}"/>
                    <span>{{this.name}}</span>
                </li>
                {{/each}}
            </ul>
        {{else}}
        <p class="note">No matching results found in this location.</p>
        {{/unless}}
        </div>

    </section>
</form>